[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
gym = "*"
tensorflow = "*"
tensorflow-probability = "*"
tqdm = "*"
pyoneer = {editable = true, path = "/Users/fomoro/Documents/pyoneer"}

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6.5"
