[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
attrs = "*"
tqdm = "*"
numpy = "*"
tensorflow-probability = "*"

[dev-packages]
ipdb = "*"
tensorflow = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.6.5"
