[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
gym = "*"
tqdm = "*"
fomoro-pyoneer = "*"
tensorflow = "==2.0.0-beta1"
tfp-nightly = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6.5"
